* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: white;
}

body {
  background-color: #080c20;
}

.logo {
  margin: 64px 0 64px 192px;
}

header {
  display: block;
  text-align: center;
  margin-top: 32px;
  background-image: url("./images/illustration-hero-left.svg"), url("./images/illustration-hero-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -3.3%, 103.9%;
}

.head-div {
  background-image: url("./images/bg-hero-squiggle.svg");
  margin: 0 auto;
  width: 550px;
  background-position: top;
  padding: 96px;
  background-size: contain;
  background-repeat: no-repeat;
  color: gray;
}

.head-div h1 {
  font-size: 47px;
  font-weight: 700;
  width: 500px;
  line-height: 110%;
  margin-bottom: 32px;
}

.head-div h1 span {
  color: #3ee9e5;
  width: inherit;
}

.head-div p {
  font-size: 16px;
  width: 500px;
  margin-bottom: 32px;
  color: gray;
}

.head-div img {
  margin-bottom: 16px;
}

.adv-section {
  display: flex;
  justify-content: center;
  margin-top: 144px;
}

.adv-section h1 {
  font-size: 19px;
  text-align: left;
  width: fit-content;
}

.adv-section p {
  font-size: 16px;
  width: 250px;
  text-align: left;
}

.adv-section img {
  width: 70px;
}

.adv-section .adv-img {
  padding: 0;
  background-color: hsl(206, 84%, 24%);
  width: 120px;
  height: 120px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.adv-div {
  margin: 32px 16px;
}

.adv-div2 {
  margin: 80px;
}

.pricing {
  text-align: center;
  margin-top: 144px;
  margin-bottom: 64px;
}

.pricing h1 {
  margin: 16px auto;
  font-size: 27px;
  font-weight: 700;
}

.pricing p {
  margin: 0 auto;
  font-size: 16px;
  width: 500px;
}

.pricing-plans {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.free-plan {
  background-color: hsl(206, 84%, 24%);
  border-radius: 10px;
  height: 360px;
  padding: 32px;
  padding-top: 16px;
  margin: 50px 16px;
  line-height: 30px;
}

.free-icon {
  position: relative;
  top: -42px;
}

.free-plan h2 {
  margin-right: 16px;
}

.free-plan p {
  width: 400px;
  color: white;
}

.free-plan h1 {
  width: fit-content;
}

.free-plan img, .paid-plan img {
  margin-right: 32px;
}

.paid-plan {
  background-color: #3ee9e5;
  border-radius: 10px;
  padding: 32px;
  padding-top: 16px;
  margin: 50px 16px;
  height: 400px;
  color: #080c20;
  line-height: 30px;
}

.paid-icon {
  position: relative;
  top: -52px;
}

.paid-plan h2 {
  margin-bottom: 16px;
  color: #080c20;
}

.paid-plan p {
  width: 400px;
  color: #080c20;
}

.paid-plan h1 {
  width: fit-content;
  color: #080c20;
}

.paid-plan h1 span {
  color: #080c20;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

form {
  margin: 144px auto 32px auto;
  width: 100%;
  background-image: url("./images/bg-footer-squiggle.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

form h1 {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  font-size: 29px;
  padding-top: 32px;
  padding-bottom: 16px;
}

.mail {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  padding-top: 16px;
}

.mail input {
  width: 320px;
  border: none;
  padding: 16px;
  border-radius: 64px;
  font-weight: 700;
  background-color: hsl(206, 84%, 24%);
  color: white; 
}

.mail input:focus {
  border: none;
  border-color: #080c20;
}

.mail button {
  margin-left: 16px;
  border-radius: 64px;
  padding: 8px;
  background-color: #3ee9e5;
  color: #080c20;
  border: none;
  font-weight: 700;
  width: 160px;
}